# IS362 - Week 8 Assignment
Michael Hernandez

# 1. Load the data in the (yellow highlighted) Data Folder in the file auto-mpg.data into a pandas DataFrame.

In [20]:
import pandas as pd
import numpy as np
mpg_data = pd.read_csv('auto-mpg.data', header=None, delim_whitespace=True)

# 2. Review the data and the provided data set description.

In [21]:
mpg_data.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

# 3. Use the attribute information provided in auto-mpg.names to name your pandas DataFrame columns. 

I found the attribute information in section 7 of the auto-mpg.names file:

7. Attribute Information:

    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

In [22]:
mpg_headers = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
mpg_data.columns = mpg_headers

In [23]:
mpg_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

4. Some of the horsepower data is marked as missing with a ‘?’.  You need to replace this ‘?’ with a pandas-appropriate missing value, then convert the column to numeric. 

I opened up the datafile and found that the ? values are in the horsepower column exclusively - this first search proves that point. The function does a search through each row for the escaped ? value, and sets display to true if it is True.
Then I converted the ? to Pandas NaN value in place.  Finally I converted that NaN to 0 to make it a numeric value.

5. The origin column values are 1, 2, and 3.  Convert these values respectively to ‘USA’, ‘Asia’, and ‘Europe’ 
6. Create a bar chart that shows the distribution for cylinders. 
7. Create a scatterplot that shows the relationship between horsepower and weight. 
8. Ask, then answer (using matplotlib and seaborn graphics capabilities) an interesting question about the distribution of one of the variables, or the relationship between two (or more!) of the variables in the “Auto MPG” dataset

In [28]:
mpg_data[mpg_data.apply(lambda row: row.astype(str).str.contains('\?', case=False).any(), axis=1)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035.0,20.5,82,1,amc concord dl

In [32]:
mpg_data.replace('\?', np.nan)

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [34]:
mpg_data[mpg_data.apply(lambda row: row.astype(str).str.contains('\?', case=False).any(), axis=1)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035.0,20.5,82,1,amc concord dl